@model SGS.MvcWebApp.Models.ForgotPasswordModel

@{
    Layout = "../Shared/_SecurityLayout.cshtml";
}

<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-md-offset-3">
    <div class="well no-padding">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "login-form", Class = "smart-form client-form" }))
        {
            @Html.AntiForgeryToken()
            <header>
                Recuperar contraseña
            </header>

            <fieldset>

                <section>
                    @Html.LabelFor(m => m.UserName)
                    <label class="input">
                        <i class="icon-append fa fa-user"></i>
                        @Html.TextBoxFor(m => m.UserName)
                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Ingrese su nombre de usuario</b>
                    </label>
                </section>

                <section>
                    <span class="timeline-seperator text-center text-primary"> <span class="font-sm">O</span></span>
                </section>

                <section>
                    @Html.LabelFor(m => m.Email)
                    <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        @Html.TextBoxFor(m => m.Email)
                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Ingrese su email</b>
                    </label>
                    <div class="note">
                        @Html.ActionLink("Ya recuerdo mi contraseña!", "Login", "Account")
                    </div>
                </section>
                <section>
                    @Html.ValidationSummary(true)
                </section>
            </fieldset>
            <footer>
                <button type="submit" class="btn btn-primary">
                    Recuperar contraseña
                </button>
            </footer>
        }
    </div>
</div>

<script type="text/javascript">
    runAllForms();
</script>



